:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);

  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
}

.Global {
  background-color: var(--Dark-desaturated-blue);
  width: 70%;
  margin: 5rem auto 3rem;
  text-align: center;
  border-radius: 8px;
}

.Global .Picture {
  background: url("./images/image-header-mobile.jpg") no-repeat center/cover;
  height: 250px;
  border-radius: 8px 8px 0 0;
}

.Global .Picture .Overlay {
  background-color: hsla(277, 60%, 40%, 0.7);
  height: 250px;
  border-radius: 8px 8px 0 0;
}

.Container {
  padding: 1rem;
}

.Color {
  color: var(--Soft-violet);
}

.Container h1 {
  color: var(--White);
  padding: 0.7rem;
  line-height: 1.3;
  font-family: "Lexend Deca", sans-serif;
}

.Container p {
  color: var(--Slightly-transparent-white);
  line-height: 1.4;
  font-size: 15px;
  padding-bottom: 1.3rem;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: uppercase;
  color: var(--Slightly-transparent-white);
  margin-bottom: 20px;
}

ul li span {
  color: var(--White);
  text-transform: lowercase;
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
}

.attribution {
  font-size: 15px;
  text-align: center;
  color: antiquewhite;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .Global {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 450px;
    width: 70%;
  }

  .Global .Picture {
    background: url("./images/image-header-desktop.jpg") no-repeat center/cover;
    min-width: 50%;
    height: 450px;
  }

  .Global .Picture .Overlay {
    background-color: hsla(277, 60%, 40%, 0.7);
    height: 450px;
    border-radius: 0 8px 8px 0;
  }

  .Container {
    padding: 5rem 3rem;
  }

  .Container h1 {
    padding-top: 3rem;
  }

  .Container p {
    padding: 1rem 0 0 0.4rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .Container ul li span {
    text-align: center;
  }
}